package repository

import (
	"fmt"

	"gorm.io/gorm"
)

type {{ .Name }}Repository struct {
	db *{{ .ORMInstance }}

	// 依存するORMやライブラリを定義、追加。
}

func New{{ .Name }}Repository(db *gorm.DB) *{{ .Name }}Repository {
	fmt.Println("{{ .Name }}Repository initialized.")
	return &{{ .Name }}Repository{db: db}
}

func (repo *{{ .Name }}Repository) Method() {
	// 処理
}
